<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>otp</title>
  </head>
  <body>
    <h1>Otp Page</h1>
    <div class="error" style="background-color: red"></div>
    <br />
    <form method="post" action="/otp">
      <label for="otp">Enter the OTP</label> <br />
      <input type="text" name="otp" id="otpValue" /> <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
